# .NET Build Outputs
bin/
obj/
*.user
*.suo
*.cache
.vs/

# Rider
.idea/

# User-specific files
*.rsuser
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options
.vscode/
*.code-workspace

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin
$RECYCLE.BIN/

# Mac
.DS_Store

# Publish
publish/
